/auto/
*.aux
*.log
*.out
*.toc
*.pdf
*.bbl
*.blg
/report-blx.bib
/report.bcf
/report.run.xml
/sections/auto/
/presentation/presentation.nav
/presentation/presentation.snm
/presentation/presentation.vrb
